 body {
            font-family: Arial, sans-serif;
            margin: 0; padding: 0;
            background: #f4f4f4;
            color: #222;
          
}
header {
            background: #222;
            color: #fff;
            padding: 2rem 0;
            text-align: center;
    }
        nav {
            background: #444;
            padding: 0.5rem 0;
            text-align: center;
        }
        nav a {
            color: #fff;
            margin: 0 1rem;
            text-decoration: none;
            font-weight: bold;
        }
        .container {
            max-width: 900px;
            margin: 2rem auto;
            background: #050505;
            color: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.05);
        }
        .proyectos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;
            
        }
        h2{
          text-align: center;
        }
        .proyecto {
            background: #ffffff;
            
            padding: 1rem;
            color: rgb(172, 30, 30);
            border-radius: 6px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.04);
        }
        .proyecto img {
            max-width: 100%;
            height: 155px;
            display: block;
            margin: 0.5rem 0;
        }
        .pag-proyecto{
            background: #474545;
            padding: 1rem;
            border-radius: 6px;
            color: white;
            box-shadow: 0 1px 4px rgba(0,0,0,0.04);
        }
        .pag-proyectos{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;
        }
        footer {
            text-align: center;
            padding: 1rem 0;
            background: #222;
            color: #fff;
            margin-top: 2rem;
        }
        .subtitulo{
            align-items: center;
            display: flex;
            flex-direction: column-reverse; 
            font-size: 2.5em; /* 2.5 * 16 = 40px */
            text-decoration: none;
        }
    .my-offcanvas {
    position: fixed;
    top: 0;
    left: -320px; /* Oculto */
    width: 320px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,.2);
    transition: left 0.3s ease;
    visibility: hidden;
    z-index: 1050;
    display: flex;
    flex-direction: column;
  }

  .my-offcanvas.my-show {
    left: 0; /* Visible */
    visibility: visible;
  }

  .my-offcanvas-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }

  /* AQUÃ el scroll */
  .my-offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
  }

  .my-btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .imagen-angular {
    margin: 1rem 0;
  }
  .formBackend {
  position: fixed;
  top: 0;
  right: -100%;   /* Oculto a la derecha */
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  padding: 20px;
}

.formBackend.active {
  right: 0;  /* Aparece desde la derecha */
}

.my-formBackend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-btn-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.contacto{
  background-color: red;
  margin: 100px 100px 100px 100px;
}
.sobre-mi{
  background-color: blue;
  color: white;
  margin: 30px 30px 30px 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.carousel-item>img{
  height: 580px;
}
/* From Uiverse.io by Smit-Prajapati */ 
.card {
  width: 230px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  position: relative;
}

.card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: rgb(0, 0, 0);
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.card .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
span
{
  color: black;
}
.card .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
  height: 100%;
}

.card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.card .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.card .top-section .icons .social-media .svg:hover {
  fill: white;
}

.card .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.card .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: rgb(7, 6, 6);
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
}

.card .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}